<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Encoder Test Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
              padding-bottom: 20px;
            }
        </style>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Encoder Test Site</h1>
            <h3 id="connecting">Connecting...</h3>
            <div class="col-sm-12" id="renderer">
            </div>
          </div>
        </div>
        <div class="row" id="readout">
          <div class="col-sm-4">
            <h4>X Position = <span id="x">0</span></h4>
            <h4>Y Position = <span id="y">0</span></h4>
            <h4>Theta = <span id="theta">0</span></h4>
	          <h4>Distance = <span id="distance">0</span></h4>
          </div>
          <div id="myDiv"></div>
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
      <script>
      
      var positions = {
          x: [],
          y: [],
          mode: 'markers',
          type: 'scatter'
        };

      $(document).ready(function() {
        // Function called when a new sensor reading is received.
      
        function updateData(data) {
          $('#x').text(data.x);
          $('#y').text(data.y);
          $('#theta').text(data.theta);
	       $('#distance').text(Math.pow(Math.pow(data.x, 2) + Math.pow(data.y, 2),0.5));
          
         var trace = {
           x:data.x,
           y:data.y,
           type:'scatter',
           mode:'markers'
         };

        }

        // Create server sent event connection to receive sensor data.
        var server = new EventSource('/val');

        // Add server sent event handlers.
        server.onmessage = function(e) {
          updateData(JSON.parse(e.data))
        };
        server.onopen = function(e) {
          // Hide connecting status and show controls when connection is made.
	        $('#connecting').hide();
          $('#readout').show();
        };
        server.onerror = function(e) {
          console.log(e)
          // Hide controls and show connecting status if connection closes.
          $('#readout').hide();
          $('#connecting').show();
        };

      });

      </script>
    </body>
</html>
