<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Encoder Test Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
              padding-bottom: 20px;
            }
        </style>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Encoder Test Site</h1>
            <h3 id="connecting">Connecting...</h3>
            <div class="col-sm-12" id="renderer">
            </div>
          </div>
        </div>
        <div class="row" id="readout">
          <div class="col-sm-4">
            <h4>Value = <span id="value">0</span></h4>
          </div>
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

      <script>
      $(document).ready(function() {
        // Configuration
        // Set size of the WebGL renderer scene.
        var sceneWidth = 640;
        var sceneHeight = 480;
        // Define list of 3D models.  Each item should have a name property that
        // will be rendered in the drop down, and a load function that is called
        // with the model instance and should add a model property with a Three.js
        // scene graph object that will be rendered.

        // Start with main controls hidden until connected.

        // Function called when a new sensor reading is received.
        function updateData(data) {
          $('#value').text(data.value);
        }

        // Create server sent event connection to receive sensor data.
        var server = new EventSource('/val');

        // Add server sent event handlers.
        server.onmessage = function(e) {
          updateData(JSON.parse(e.data));
        };
        server.onopen = function(e) {
          // Hide connecting status and show controls when connection is made.
	        $('#connecting').hide();
          $('#readout').show();
        };
        server.onerror = function(e) {
          // Hide controls and show connecting status if connection closes.
          $('#readout').hide();
          $('#connecting').show();
        };
      });
      </script>
    </body>
</html>
